<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguir Usuarios/Petpocket</title>
    <link REL="stylesheet" type="TEXT/CSS" href="/css/Notificacion.css">

</head>
<body>
    
    <nav><img src="/img/Captura de pantalla 2024-01-31 112956.png" alt="">
        <!-- Formulario de búsqueda -->
    <form action="/buscar" method="get" align="center">
        <input type="text" name="q" placeholder="Buscar...">
        <input type="submit" value="Buscar">
    </form>

    </nav>
    <div class="cuadro">
        <font size="5">
            <div>
        <a title="personas" href=""><img src="/img/personas.jpg" width="100" height="100" class="Siguiendo" alt="" h1 align="center"><b>Siguiendo</b></h1></a>
          </div>
          <div>
        <a title="Explorar" href=""><img src="/img/brujula.jpg" width="100" height="100" class="Explorar" alt="" h1 align="center"><b>Explorar</b></h1></a>
        </div>
        <div>
        <a title="Perfil" href=""><img src="/img/perfil.png" width="100" height="100" class="Perfil" alt="" h1 align="center"><b>Perfil</b></h1></a>
        </div>
        </div>  
        <div class="Tendencias">
            <font size="2">
        <a title="Tendencias" href="https://www.youtube.com/watch?v=SHbXK1M6I30"><h1>Tendencias</h1></a>
            <button>#Pastor Aleman</button>
            <button>#Pitbull</button>
            <button>#Golden Retriever</button>
            <button>#Chihuahua</button>
        </div>
        <div class="borde">
            <img class="img-1" src="/img/persona_7.avif" width="70" height="70" alt="">
            <img class="img-2" src="/img/persona_8.avif" width="70" height="70" alt="">
            <img class="img-3" src="/img/persona_9.webp" width="70" height="70" alt="">
         </div>
         <div class="Amigos">
         <h1 class="Amigos" align="center">Usuarios</h1>
         <a href="/dashboard/Solicitud"><button class="Solicitudes" align="center"><span>Solicitudes de Amistad</span></button></a>
         <button class="Seguir" align="center"><span>Seguir Usuarios</span></button>
         <hr class="Separador" align="center">
        </div>
        <div>
            <h1 class="notificacion_1" align="center">Solicitud enviada con exito</h1>
            <img class="perrito_1" src="/img/perrito.avif" alt="">
        </div>