<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos/Petpocket</title>
    <link REL="stylesheet" type="TEXT/CSS" href="/css/Perfil.css">

</head>
<body>
    
    <nav><img src="/img/Captura de pantalla 2024-01-31 112956.png" alt="">
        <!-- Formulario de búsqueda -->
    <form action="/buscar" method="get" align="center">
        <input type="text" name="q" placeholder="Buscar...">
        <input type="submit" value="Buscar">
    </form>

    </nav>
    <div class="cuadro">
        <font size="5">
            <div>
        <a title="personas" href="/dashboard/Solicitud"><img src="/img/personas.jpg" width="100" height="100" class="Siguiendo/" alt="" h1 align="center"><b>Siguiendo/Amigos</b></h1></a>
          </div>
          <div>
        <a title="Explorar" href=""><img src="/img/brujula.jpg" width="100" height="100" class="Explorar" alt="" h1 align="center"><b>Explorar</b></h1></a>
        </div>
        <div>
        <a title="Perfil" href="/Perfil"><img src="/img/perfil.png" width="100" height="100" class="Perfil" alt="" h1 align="center"><b>Perfil</b></h1></a>
        </div>
        </div>  
        <div class="Tendencias">
            <font size="2">
        <a title="Tendencias" href=""><h1>Tendencias</h1></a>
            <button>#Pastor Aleman</button>
            <button>#Pitbull</button>
            <button>#Golden Retriever</button>
            <button>#Chihuahua</button>
        </div>
        
         <div>
            <img class="Perfil_1" src="/img/personafotoperfil.jpg" alt="">
            <h1 class="text_1" align="center">Tatiana Bravo</h1>
            </div>
         <h1 class="text_2" >Amor en cuatro patas </h1>

         <div class="button">
        <a href=""><button class="Seguir" align="center"><span>Publicaciones</span></button></a>
         </div>
         <div class="button">
        <a href=""><button class="Favoritos" align="center"><span>Favoritos</span></button></a>
         </div>
         <div class="borde"></div>
         <div>
            <img  class="Perro1" src="/img/perro1.jpg" alt="">
            </div>
             <div>
            <img  class="Perro2" src="/img/perro2.webp" alt="">
         </div>
         <div>
            <img  class="Perro3" src="/img/perro3.jpg" alt="">
         </div>
         <div>
            <img  class="Perro4" src="/img/perro4.jpg" alt="">
         </div>
        </body>
</html>