<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos/Petpocket</title>
    <link REL="stylesheet" type="TEXT/CSS" href="/css/Solicitud.css">

</head>
<body>
    
    <nav><img src="/img/Captura de pantalla 2024-01-31 112956.png" alt="">
        <!-- Formulario de búsqueda -->
    <form action="/buscar" method="get" align="center">
        <input type="text" name="q" placeholder="Buscar...">
        <input type="submit" value="Buscar">
    </form>

    </nav>
    <div class="cuadro">
        <font size="5">
            <div>
        <a title="personas" href=""><img src="/img/personas.jpg" width="100" height="100" class="Siguiendo/" alt="" h1 align="center"><b>Siguiendo/Amigos</b></h1></a>
          </div>
          <div>
        <a title="Explorar" href=""><img src="/img/brujula.jpg" width="100" height="100" class="Explorar" alt="" h1 align="center"><b>Explorar</b></h1></a>
        </div>
        <div>
        <a title="Perfil" href="/dashboard/Perfil"><img src="/img/perfil.png" width="100" height="100" class="Perfil" alt="" h1 align="center"><b>Perfil</b></h1></a>
        </div>
        </div>  
        <div class="Tendencias">
            <font size="2">
        <a title="Tendencias" href=""><h1>Tendencias</h1></a>
            <button>#Pastor Aleman</button>
            <button>#Pitbull</button>
            <button>#Golden Retriever</button>
            <button>#Chihuahua</button>
        </div>
        <div class="borde">
            <img class="img-1" src="/img/persona_7.avif" width="70" height="70" alt="">
            <img class="img-2" src="/img/persona_8.avif" width="70" height="70" alt="">
            <img class="img-3" src="/img/persona_9.webp" width="70" height="70" alt="">
         </div>
         <div class="Amigos">
         <h1 class="Amigos" align="center">Amigos</h1>
         <button class="Solicitudes" align="center"><span>Solicitudes de Amistad</span></button>
         <a href="/Seguir"><button class="Seguir" align="center"><span>Seguir Usuarios</span></button></a>
         <hr class="Separador" align="center">
        </div>
        <div align="center">
            <img class="per1" src="/img/persona1.webp" width="200" height="200" alt="">
            <h1 class="nombre">PAULINA VARGAS</h1>
           <a href="/dashboard/Notificacion"> <button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
           <a href="/dashboard/showNotificacion_Eliminar"> <button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
            <img class="per2" src="/img/persona3.webp" width="200" height="200" alt="">
            <h1 class="nombre">JUAN MARTINEZ</h1>
           <a href="/dashboard/Notificacion"> <button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
           <a href="/dashboard/showNotificacion_Eliminar"> <button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
            <img class="per3" src="/img/persona2.jpg" width="200" height="200" alt="">
            <h1 class="nombre">CARMEN BONILLA</h1>
           <a href="/dashboard/Notificacion"> <button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
            <a href="/dashboard/showNotificacion_Eliminar"><button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
            <img class="per4" src="/img/persona4.jpg" width="200" height="200" alt="">
            <h1 class="nombre">CHRISTIAN FALCONES</h1>
            <a href="/dashboard/Notificacion"><button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
            <a href="/dashboard/showNotificacion_Eliminar"><button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
        </div>
        
   </body>
</html>              
    
